
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<!-- 套件開始 -->
<link rel="stylesheet" href="example.css">
<template id="nimo-vue-pages">
	<ul class="nimo-vue-pages-style">
		<li class="first item" v-if="show_head" @click.prevent="SetPage(1)"> 首頁 </li>
		<li class="pre item" @click.prevent="SetPage(current_page-1)"> < </li>
		<li class="to item" v-for="page in nav_pages"
			:class="{active: page.active}"
			@click="SetPage(page.number)"
		>
			{{ page.number }}
		</li>
		<li class="next item" @click.prevent="SetPage(current_page+1)"> > </li>
		<li class="last item" v-if="show_tail" @click.prevent="SetPage(total_pages)"> 尾頁 </li>
	</ul>
</template>

<script>
	var vue_model = vue_model || {};
	vue_model.nimo_vue_pages = {
        template: '#nimo-vue-pages',
        props: {
        	total_pages: {
        		type: Number,
        		require: true,
        		validator: function (value) {
        			return value > 0;
        		}
        	},
        	counts_page: {
        		type: Number,
        		require: true,
        		validator: function (value) {
        			return value > 0;
        		}
        	},
        	current_page: {
        		type: Number,
        		default: 1,
        		validator: function (value) {
        			return value > 0;
        		}
        	},
        	show_head: {
        		type: Boolean,
        		default: false,
        	},
        	show_tail: {
        		type: Boolean,
        		default: false,
        	}
        },
        data: function() {
        	return {
        	};
        },
		computed: {
			nav_pages: function() {
				var
					start_page = (Math.floor((this.current_page-1) / this.counts_page) * this.counts_page + 1),
					end_page = (start_page - 1 + this.counts_page),
					pages = {};

				end_page = end_page < this.total_pages ? end_page : this.total_pages;

				for (var i=start_page; i<=end_page; i++) {
					var active = (this.current_page == i);
					pages[i] = {
						number: i,
						active: active
					}
				}
				return pages;
			}
		},
		methods: {
			SetPage: function(set_page) {
	            if (set_page == this.current_page) {
	                return;
	            }
				if (set_page <=0 || set_page > this.total_pages) {
					return;
				}
				this.current_page = set_page;
				this.$emit('set_page_event', set_page);
			}
		}
	};
</script>

<!-- 上面是套件，你也可以復製成.vue檔來使用 -->

<style>
	ul {
		padding-left: 0px; /* 消除瀏覽器ul自動padding行為 */
	}
</style>
<div id="use-example">
	<div style="text-align: center; background: gray;">
		<nimo-vue-pages
			:show_head="true"
			:show_tail="true"
			:total_pages="10"
			:counts_page="5"
			:current_page="3"
			v-on:set_page_event="YourSetPageEvent"
		>
		</nimo-vue-pages>
	</div>
</div>
<script>
	var vm = new Vue({
		el: "#use-example",
		components: {
			'nimo-vue-pages': vue_model.nimo_vue_pages
		},
		methods: {
			YourSetPageEvent: function(set_page) {
				// your logic
				alert('SetPage' + set_page);
			}
		}
	})
</script>

